<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', post.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('input', post.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
<div class="control-group">
  <label for="content" class="control-label">content</label>
  <div class="controls">
    <%- contentTag('input', post.content, {type:'text', class:'span6', name:'content'}) %>
  </div>
</div>
<div class="control-group">
  <label for="permalink" class="control-label">permalink</label>
  <div class="controls">
    <%- contentTag('input', post.permalink, {type:'text', class:'span6', name:'permalink'}) %>
  </div>
</div>
<div class="control-group">
  <label for="dateTime" class="control-label">dateTime</label>
  <div class="controls">
    <%- contentTag('input', post.dateTime, {type:'datetime', class:'span3', name:'dateTime'}) %>
  </div>
</div>
